#register-form{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    background-color: rgba(56, 103, 190, 0.5);
    padding: 60px;
    border-radius: 5px;
    border: 2px solid rgba(56, 103, 190, 0.7);
}