body{
    display: flex;
    margin: 0px;
}
.left-side, .main-side{
    height: 100dvh;
}
.left-side{
    background-color: rgb(10, 124, 168);
    width: 15%;
    padding-top: 140px;
    padding-left: 40px;
    font-size: 20px;
    
}
.left-side a{
    color: #fff;
    text-decoration: none;

}
.main-side{
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
}
.product-management{
    margin-top: 150px;
}
td, th{
    border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
tr:nth-child(even) {
    background-color: #dddddd;
}
td a{
    margin-right: 5px;
    margin-left: 5px;
}
td img{
    width: 30px;
    height: 30px;
}
.h2-a-flex{
    display: flex;
    align-items: center;
}
.h2-a-flex a{
    text-decoration: none;
    color: #fff;
    background-color: rgb(10, 124, 168);
    padding: 10px;
    margin-left: 15px;
    border-radius: 5px;
    border: 2px solid rgb(5, 69, 94);

}
.h2-a-flex a:hover{
    background-color: rgb(5, 69, 94);
}
form{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-left: 100px;
}