body{
    display: flex;
    margin: 0px;
}
.left-side, .main-side{
    height: 100%;
}
.left-side{
    background-color: rgb(10, 124, 168);
    width: 15%;
    padding-top: 140px;
    padding-left: 40px;
    font-size: 20px;
    position: fixed;
}
.left-side a{
    display: flex;
    color: #fff;
    text-decoration: none;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    width: 240px; 
    height: 40px;
    padding-left: 10px;
}
.left-side a.active, .left-side a:hover{
    border-radius: 2px;
    background-color:rgb(6, 87, 119);

}
.main-side{
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    
}
.product-management{
    margin-top: 150px;
}
.products-table table{
    width: 1000px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
td, th{
    border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
tr:nth-child(even) {
    background-color: #dddddd;
}
td a{
    margin-right: 5px;
    margin-left: 5px;
}
.button-column{
    width: 90px;
    text-align: center;
}
td img{
    width: 30px;
    height: 30px;
}
.h2-a-flex{
    display: flex;
    align-items: center;
}
.h2-a-flex a{
    text-decoration: none;
    color: #fff;
    background-color: rgb(10, 124, 168);
    padding: 10px;
    margin-left: 15px;
    border-radius: 5px;
    border: 2px solid rgb(5, 69, 94);

}
.h2-a-flex a:hover{
    background-color: rgb(5, 69, 94);
}
form{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}
form div{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding-top: 5px;
}
form button{
    width: 50%;
    height: 40px;
    background-color: rgb(10, 124, 168);
    border: 2px solid rgb(5, 69, 94);
    border-radius: 7px;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}
form button:hover{
    background-color:rgb(5, 69, 94);
}
form label{
    font-weight: bold;
}
form input, textarea{
    height: 20px;
    width: 300px;
    
}
form textarea{
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
form .ingredients-input{
    height: 100px;
}
.pop-up {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    justify-content: center;
    align-items: center;
}


.pop-up-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.pop-up button {
    margin: 10px;
    padding: 8px 15px;
    border: none;
    cursor: pointer;
}
#confirmButton, #confirmDelCatButton {
    background: red;
    color: white;
    border-radius: 5px;
    border: 2px solid rgb(153, 0, 0);
}
#confirmButton:hover, #confirmDelCatButton:hover{
    background-color: rgb(153, 0, 0);
}
#declineButton, #declineDelCatButton {
    background: gray;
    color: white;
    border-radius: 5px;
    border: 2px solid rgb(95, 94, 94);
}
#declineButton:hover, #declineDelCatButton:hover{
    background-color: rgb(95, 94, 94);
}
.input-and-span{
    display: flex;
    flex-direction: column;
}
.error-message {
    color: red;
    font-size: 12px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.invalid {
    border: 2px solid red;
    border-radius: 5px;
}

.category-content{
    margin-left: 400px;
}
.category-content div{
    display: flex;
    gap: 40px;
}
.deleteCatButton a{
    background-color: white;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    margin-top: 20px;
  }
  
  thead {
    background-color: #4d4c4c;
    color: white;
  }
  
  thead th {
    padding: 10px;
    text-align: left;
    border-bottom: 2px solid #555;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tbody td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  tbody tr:hover {
    background-color: #e6f7ff;
    cursor: pointer;
  }
  .reservations-table{
    width: 60%;
    margin-left: 400px;
  }
  #numberOfPersons{
    width: 30px;
  }

  .logout{
    position: absolute;

  }